#title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-left: 2% ;
}
.cardRow{
  display: flex;
  /* justify-content: space-evenly; */
}
.cardRow p{
  margin-right: 2%;
}
#Resource-card{
  width:25%;
  background-color: lightgray;
  height:100%;
  margin-left: 1%;
}
#card{
  background-color:white;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: -5%;
  text-align: left;
}
#card1{
  background-color:white;
  margin-left: 2%;
  margin-right: 2%;
  /* margin-top: -5%; */
  text-align: left;
}
#card2{
  background-color:white;
  margin-left: 2%;
  margin-right: 2%;
  /* margin-top: -5%; */
  text-align: left;
}
#card3{
  background-color:white;
  margin-left: 2%;
  margin-right: 2%;
  /* margin-top: -5%; */
  text-align: left;
}
#image_card{
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}