#title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-left: 2% ;
}
.cardRow{
  display: flex;
  /* justify-content: space-evenly; */
}
.cardRow p{
  margin-right: 2%;
}
.card{
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
}
#Resource-card{
  width:25%;
  background-color: lightgray;
  height:100%;
  margin-left: 1%;
}


#image_card{
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}